$red : #E65C43;
$white: #FFF;
$gray: #666;
$bodyFont: 'Roboto';
$bodyBgImg: '../images/bg.gif';
$logoImg: '../images/logo.png';
$socialMediaImg: '../images/social-media.png';
$graybarBg:#F5F6F6;
$headlineBg: #F25C43;